 <div class="container">
  <h1>Stupid Coach</h1>

  <p><%= params[:answer] %></p>
  <p>- You</p>

  <p><%=@answer%></p>
  <p> - Coach</p>

  <p><%= link_to "Ask a new question", ask_path %></p>
</div>
